//The following is all the colors used besides white

$lightGrey: #d4d4d2;
$darkGrey: #505050;
$offBlack: #1c1c1c;
$orange: #ff9500;
//The following is all universal stuff

body,
html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $offBlack;
	background: cover;
}

//The following is all the repeated styles, so just used mixin instead so call them

@mixin wrapperStyles {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

@mixin buttonStyles {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.2s;
    border: none;

	&.light-grey {
		background-color: $lightGrey;

		&:hover {
			opacity: 0.8;
			transition: all 0.2s ease;
		}
	}

	&.orange {
		background-color: $orange;
		color: white;

		&:hover {
			opacity: 0.8;
			transition: all 0.2s ease;
		}
	}

	&.number {
		background-color: $darkGrey;
		color: white;
		&:hover {
			opacity: 0.8;
			transition: all 0.2s ease;
		}
	}

	&.zero {
		background-color: $darkGrey;
		color: white;
		grid-column: span 2;
	}
}

@mixin screenStyles {
	background-color: transparent;
	grid-column: span 4;
	color: white;
	text-align: right;
	overflow-y: auto;
	border-radius: 10px;
    overflow: hidden;
	display: flex;
	flex-direction: column;

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $lightGrey;
		border-radius: 5px;
	}
}

//The following is just to make it as responsive as possible, no other styling is here just that

@media (min-aspect-ratio: 0/1) and (max-aspect-ratio: 18/32) {
	.wrapper {
		@include wrapperStyles();
		gap: 15px;
		padding: 100px;
		max-width: 100vw;
		width: 100%;
		margin-bottom: calc(100% - 20vh);

		.button {
			@include buttonStyles();
			font-size: 2em;
			min-width: 20vw;
			min-height: 20vw;
			border-radius: 50%;

			@media (max-width: 300px) {
				font-size: 1.5em;
			}

			&.zero {
				width: 43vw;
				border-radius: 40px;
			}
		}

		.info {
			@include screenStyles();
			height: 20vh;
			padding: 5px;
			margin-top: 25vh;
			margin-bottom: 2vh;
		}

		.screen {
            min-height: 20vh;
			margin: 0px;
			font-size: 8vh;
			@media (max-width: 300px) {
				font-size: 3em;
			}
		}

		.history {
			color: $lightGrey;
			font-size: 3vh;
		}
	}
}

@media (min-aspect-ratio: 18/32) and (max-aspect-ratio: 31/40) {
	.wrapper {
		@include wrapperStyles();
		gap: 20px;
		padding: 100px;
		max-width: 100vw;
		margin-bottom: calc(100% - 20vh);

		.button {
			@include buttonStyles();
			font-size: 5vh;
			min-width: 17vw;
			min-height: 17vw;
			padding: 0px;
			border-radius: 50%;

			&.zero {
				width: 40vw;
				border-radius: 250px;
			}
		}

        .info {
			@include screenStyles();
			height: 20vh;
			padding: 5px;
			margin-top: 49vh;
			margin-bottom: 0vh;
		}

		.screen {
            min-height: 20vh;
			margin: 0px;
			font-size: 8vh;
			@media (max-width: 300px) {
				font-size: 3em;
			}
		}

		.history {
			color: $lightGrey;
			padding-top: 0px;
			font-size: 3vh;
		}
	}
}


@media (min-aspect-ratio: 31/40) and (max-aspect-ratio: 13/11) {
	.wrapper {
		@include wrapperStyles();
		gap: 3vh;
		padding: 5vh;
		max-width: 100vw;
		@media (min-width: 1000px) and (max-width: 1300px) {
			padding: 10vh;
		}

		.button {
			@include buttonStyles();
			font-size: 2em;
			max-width: 20vw;
			height: 10vw;
			border-radius: 300px;

			@media (min-width: 2200px) and (max-width: 2700px) {
				font-size: 3em;
			}

			@media (min-width: 2700px) {
				font-size: 5em;
			}

			&.zero {
				border-radius: 300px;
				min-width: 40vw;
				max-width: 50vw;
			}
		}


        .info {
			@include screenStyles();
			height: 20vh;
			padding: 5px;
			margin-top: 0vh;
			margin-bottom: 2vh;
		}

		.screen {
            min-height: 20vh;
			margin: 0px;
			font-size: 4em;
			@media (min-width: 1000px) and (max-width: 1300px) {
				margin-top: -10px;
			}

			@media (min-width: 2200px) and (max-width: 2700px) {
				font-size: 5em;
			}

			@media (min-width: 2700px) {
				font-size: 10em;
			}
		}

		.history {
			color: $lightGrey;
			padding-top: 0px;
			font-size: 3vh;
		}
        
	}
}



@media (min-aspect-ratio: 13/11) {
	.wrapper {
		@include wrapperStyles();
		gap: 3vh;
		padding: 5vh;
		max-width: 100vw;
		@media (min-width: 1000px) and (max-width: 1300px) {
			padding: 10vh;
		}

		.button {
			@include buttonStyles();
			font-size: 2em;
			max-width: 20vw;
			min-height: 5vw;
			max-height: 10vw;
			border-radius: 300px;

			@media (min-width: 2200px) and (max-width: 2700px) {
				font-size: 3em;
			}

			@media (min-width: 2700px) {
				font-size: 5em;
			}

			&.zero {
				border-radius: 300px;
				min-width: 40vw;
				max-width: 50vw;
			}
		}


        .info {
			@include screenStyles();
			height: 20vh;
			padding: 5px;
			margin-top: 0vh;
			margin-bottom: 2vh;
		}

		.screen {
            min-height: 20vh;
			margin: 0px;
			font-size: 4em;
			@media (min-width: 1000px) and (max-width: 1300px) {
				margin-top: -10px;
			}

			@media (min-width: 2200px) and (max-width: 2700px) {
				font-size: 5em;
			}

			@media (min-width: 2700px) {
				font-size: 10em;
			}
		}

		.history {
			color: $lightGrey;
			padding-top: 0px;
			font-size: 3vh;
		}
        
	}
}
